<%= simple_form_for @article.comments.build, url: article_comments_path(@article) do |f| %>
  <p>
    <%= f.input :commentor %>
  </p>
  <p>
    <%= f.input :body %>
  </p>
  <p>
    <%= f.button :submit %>
  </p>
<% end %>
