NGINX_PORT={{ nginx_port }}
APP_PORT={{ app_port }}
APP_DOMAIN={{ app_domain }}
ENV={{ env }}
DB_NAME={{ vault_db_name }}
DB_USERNAME={{ vault_db_username }}
DB_PASSWORD={{ vault_db_password }}
DB_HOSTNAME={{ vault_db_hostname }}
DB_POOL_SIZE={{ vault_db_pool_size }}